{% extends "home/NavBarBase.html" %}
{% load static %}
{% block content %}

<h1 class="is-size-1 has-text-warning-dark">About And Credits</h1>
<p>This is a website dedicated to the creator's passion for games, with the current being Library of Ruina.
    The game is currently purchasable on steam</p>
<p></p>
<p>This website is made solely by discord user Last_Aeon#3178 with some data help. The creator is aware that some data
    is out of date but please be aware that the whole database and website is being managed by one person.</p>
<p>Front end, Backend, deployment all handled by Last_Aeon#3178</p>
<p><a href="https://docs.google.com/spreadsheets/d/1eWxFPH2pcJmbAqdZV6TSPccrK9zmIDuQCfgsIjPxtnU/edit#gid=372485379">Partial
        Card data Source</a> </p>
<p><a href="https://docs.google.com/document/d/1GgJD0sVchy_OxAoCWPcLIeGDRoRT3WJdvKDYmMdX-kg/edit?usp=sharing">Some Lore
        info data Source</a> </p>
<p>Creator Github Link: https://github.com/LastAeon77</p>
<p></p>


{% endblock content %}