{% extends "home/NavBarBase.html" %}
{% load static%}
{% block content %}

<div class="has-text-centered">
    <h1 class="is-size-1">List of Cards</h1>
    <ul>
        {% for ranks in rank %}
        <h1 class="is-size-3">{{ranks.rankname}} : {{ranks.NumberOfOffices}}<a
                href="{% url 'lor:Rank' slug=ranks.slug %}"><img src="{% static  ranks.ImgPath  %}"
                alt="{{ranks.Name}} Icon" height=30px, width=30px /></a></h1>
        {% for offices in office%}
        {%if offices.Rank_id == ranks.id%}
            <h2 class="is-size-5 has-text-warning-dark">{{ offices.OfficeName }} : {{offices.NumberOfCards}}
        <a href="{% url 'lor:Office' slug=offices.slug %}">
            <img src="{% static  offices.ImgPath  %}"
            alt="{{offices.Name}} Icon" height=30px, width=30px />
        </a></h2>
        <ul>
            {% for cards in card%}
            {%if cards.Office_id == offices.id%}
            <li><a href="{% url 'lor:Card' slug=cards.slug %}">{{cards.Name}}</a></li>
            {%endif%}
            {% endfor %}
        </ul>
        {%endif%}
        {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endblock content %}