{% extends "home/NavBarBase.html" %}
{% load static%}
{% block content %}

<script>


</script>

<h1 class ="is-size-1">List of Decks</h1>
<table class="table is-bordered is-fullwidth is-striped has-background-grey">
    <thead>
    <tr>
        <th>Deck Name</th>
        <th>Creator</th>
        <th>Id</th>
        <th>Rank/Chapter</th>
    </tr>
    </thead>
    {% for decks in deckie %}
    <tr class="notification has-background-grey-light">
        <td><a href="{% url 'lor:Deck' pk=decks.pk %}">{{decks.name}}</a></td>
        <td>{{decks.creator}}</td>
        <td>{{decks.id}}</td>
        <td>{{decks.Recc_Rank}}</td>
    </tr>
    {% endfor %}
</table>


{% endblock content %}