{% extends "home/NavBarBase.html" %}
{% load static%}
{% block content %}
<div class = "has-text-centered">

<h1 class = "is-size-1 has-text-warning-dark">This is the homepage</h1>

<ul>
    <li><a href="{% url 'lor:DeckHome'%}">List of Decks</a></li>
    <li><a href="{% url 'lor:OfficeHome'%}">List of Guests</a></li>
    <li><a href="{% url 'lor:CardHome'%}">List of Cards</a></li>
    <li><a href="{% url 'lor:DeckAdd'%}">Make a Deck!</a></li>
    <li><a href="{% url 'lor:CharHome'%}">Study Characters!</a></li>
    <li><a href="{% url 'lor:PageHome'%}">Study Pages!</a></li>
</ul>
</div>

{% endblock content %}